html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas1{

    height: 50px;
    max-height: 100%;

}
.container-fluid {
    position: relative;
    padding-top: 50px;

}
#map_canvas2{
    height: 1px;
    max-height: 100%;
}
#map_canvas3{
    height: 1px;
    max-height: 100%;
}
